<section style="background-color: #f7f6f6;">
    <div class="container my-5 py-5 text-dark">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
          
          <ng-container *ngFor="let comment of postComment; index as i">
          <ng-container *ngFor="let img of images; index as j">

          <div class="card mb-3" *ngIf="i===j">
            <div class="card-body">
              <div class="d-flex flex-start">
                <img class="rounded-circle shadow-1-strong me-3"
                  [src]="img.download_url" alt="avatar" width="40"
                  height="40" />
                <div class="w-100">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="fw-bold mb-0 userName"> {{ users.username }}
                      <div>
                        <span class="text-dark ms-2">{{comment.body}}</span>
                      </div>
                    
                    </h6>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </ng-container>
        </ng-container>
        </div>
      </div>
    </div>
  </section>
