.bg-color {
    background-color: var(--bs-gray-200);
    margin-top: 0;

    .btn {
        background-color: var(--bs-primary);
        color: var(--bs-white);
        border-color: var(--bs-primary);

    }

    .header {

        &__name
        {
            color: var(--bs-primary);
        }
    }

    .content,.btn
    {
        margin-left: 4.5rem;
    }

    .card-img
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

}

