
<nav class="navbar navbar-expand-lg nav">
    <div class="container-fluid">
      <a class="navbar-brand navbar_logo">Social</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list navbar-toggler-icon" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown" >
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" *ngFor="let user of users">
            <a class="nav-link active" [routerLink]="'/posts/'+ user?.id" aria-current="page"(click)="sendId(user.id)">{{user?.username}}</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>