:root
{

// --bs-primary: #246a73;
--bs-primary: #ff4d29;
--bs-white:#fff;
--bs-gray-200:#eff7f6;
--bs-link-hover-color:#d63e20;
--bs-body-color-rgb: #516171;
--bs-link-color: #092032;
--bs-gutter-x:7rem;
}

